# Local Development
LOCAL_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# Testnet (Amoy)
PRIVATE_KEY=your_testnet_private_key_here
POLYGON_RPC_URL=https://rpc-amoy.polygon.technology

# Mainnet (Polygon)
MAINNET_PRIVATE_KEY=your_mainnet_private_key_here
POLYGON_MAINNET_RPC=https://polygon-rpc.com

# Block Explorer API Key (for contract verification)
POLYGONSCAN_API_KEY=your_polygonscan_api_key

# Frontend
REACT_APP_NETWORK=polygon
REACT_APP_WS_URL=wss://your-websocket-server.com
